.cardListwrapper{
    display: flex;
    flex-wrap: wrap;
    /* flex: 75%; */
    /* flex: 0 1 66%;    */
    justify-content: space-between;
    /* flex: 75%; */
    background-color: #1b1c1d;
    background-color: #323334;
    width: 50%;
    /* width: 100vw; */
    /* margin-left: 10px; */
    margin-top: 50px;
    /* gap: 20px; */
    /* max-width: 100%; */
    max-width: 1230px

    
}

/* .card{
    background-image: url("https://img-monsternotebook.mncdn.com/images/frontend/product-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.cardwrapper{
    
    /* width:292px; */
    /* min-height: 100%; */
    /* max-width: 292px; */

    width: 32.333%;
    
    border: gray solid 1px;

}

.cardwrapper:hover{
    border: lime solid 1px;
    transition: all 0.3s ease-in-out;
}

/* .cardImage{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #1b1c1d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 5px solid #fff;
} */

/* .cardimage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #323334;
    border-bottom: 1px solid #323334;
    border-left: 1px solid#323334;
    border-right: 1px solid #323334;
} */

/* .compare{
    max-width: 350px;


} */

.comparewrapper{
    display: flex;
    align-items: center;
    justify-content: left;
    /* width: 100%; */
    /* margin: 0 15px; */
    padding: 0 15px;
    height: 46px;
    background-color: black;
    display: flex;
    color: #fff;

}

.checkbox{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #323334;
    border-radius: 5px;
    margin: 0 5px;
    background-color: #323334;
    cursor: pointer;
}



.cardinfo{
    text-align: left;
    background-color: #161617;
    max-width: 100%;
    color: white;
    padding-bottom: 20px;

}

.carddescription{

    /* margin-bottom: 20px; */
    margin-left: -20px;
    margin-right: 30px;
    
    /* max-height: 128px; */
    overflow: hidden;
    line-height: 1.83;
    color: #a4a4a5;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

}

.carddescription ul{
    -webkit-line-clamp: 7;
    max-height: 10.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    line-height: 1.5;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.carddescription li{
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    list-style-position: inside;
    color: #a4a4a5;
    opacity: 1;
    width: 100%;
    height: auto;
    font-size: 14px;


}

.cardtitle{
    max-height: 45px;
    min-height: 45px;
    /* margin-bottom: 18px; */
    font-size: 18px;
    line-height: 1.25;
    color: #fff;
    font-weight: normal;
    margin-left: 20px;
    margin-bottom: 20px;
}



.commentwrapper
{
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin: 10px 20px; */

}

.cardtitle{
    max-width: 350px;
    max-height: 45px;
    min-height: 45px;
    /* margin-bottom: 18px; */
    /* display: block; */
    font-size: 18px;
    line-height: 1.25;
    color: #fff;
    font-weight: normal;
}


.cardprice{
    margin-left: 20px;
}



.cardbutton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #26df2e;
    color: white;
    text-align: center;
    overflow: hidden;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    height: 48px;
    padding: 12px 10px;
    
}
.cardbutton:hover{
    background-color: #26df2e;
    color: #fff;
}

@media screen and (max-width: 1230px) {

    .cardListwrapper{
        max-width: 100%;
    }
    .cardwrapper{
        max-width: 32%;
        /* max-width: 100%; */
    }
    
}


@media screen and (max-width: 960px) {

    .cardContainer{
        width: 100%;

    }
    .cardListContainer{
        
        margin-left: 0px;
        margin-top: 0px;

    }

    .cardListwrapper{
        padding: 31px;
        gap: 0px;
        width: 100%;
        max-width: 100%;
    }
    .cardinfo{
        max-width: 100%;
    }

    .cardwrapper{
        /* margin: 31px; */
        /* flex: 33%; */
        /* width: 100%; */
        max-width: 49%;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
        
    }
}

@media screen and (max-width: 480px) {

    .cardwrapper{
        /* margin: 31px; */
        /* flex: 33%; */
        /* width: 100%; */
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        
    }
 
}
    
