/* .siteheaderwrapper{
    background: linear-gradient(to left, #d51646, #9d0574, #830a58, #bd034b, #bb3b39, #bd393a, #ba044f, #96023c, #51061c);
    height: 1px;
    width: 100%;
    bottom: 0;
    } */


.siteheader{

    width: 100% !important;

    
}

.siteheaderwrapper{
    width: 100% !important;
    height: 100%;
    background-color: #000;

}

.navbartopwrapper{
    width: 100%;
    display: flex;
    justify-content: right;


}
/* .gradientborder{
    max-width: 100%;
    height: 100%;

}

.gradientborder::after{
    content: "";
    background: linear-gradient(to left, #d51646, #9d0574, #830a58, #bd034b, #bb3b39, #bd393a, #ba044f, #96023c, #51061c);
    height: 1px;
    width: 100%;
    bottom: 0;
    position: absolute;
} */

.navbartopinner{
    width: 100%;

    padding: 0 60px;

}

.navbarlist{
    width: 100%;
    display: flex;
    justify-content: right;
    list-style: none;
    color: #FBBD08;
    margin: 0;
    padding: 0;

    /* justify-content: space-between; */

    
}

.navbaritem{
    padding: 10px 10px 0px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    cursor: pointer;

}

.navbarlink{
    /* margin: 10px 10px 6px; */
    font-weight: 400;
    font-size: 11px;
}
.navbarlink:hover{

    color: #26df26;
    transition: all 0.5s ease-in-out;

}

.navbarmiddlewrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 30px;



}

.navbarcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* width: 600px; */
    margin-top: 10px;

}

.navbarright{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* width: 100%; */
    /* padding: 0 60px; */
    margin-top: 20px;
}
.navbarrightinner{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 60px; */

}

.navbarbutton{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid #49494a;
    cursor: pointer; 
    margin-left: 10px;
    
}
.navbarmiddlewrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navbarmiddleleft{
    width: 100%;

}


.navbarmiddleright{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* height: 40px; */

    /* width: 600px; */
}

.navbarsearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 100%; */
    

}

.navbarsearchbarinner{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;

    
    
}

.navbarsearchbarinput{
    /* position: absolute; */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: none;
    /* border-radius: 5px; */
    background-color: #000;
    color: #fff;
    padding: 9px 13px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid gray;

}
.navbarsearchbarinput:focus{
    border: 1px solid #26df26;
}

@media screen and (max-width:960px){
    .navbartopwrapper{
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        background-color: #161617;
    }
    .navbartopinner{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .navbarlist{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        /* width: 100%; */
        padding: 0;
        margin: 0;
        background-color: #161617;

    }


    .navbarmiddlewrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #161617;

    }
    .navbarcenter{
        display: none
    }
    .navbarright{
        /* width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #161617;
        flex-direction: column; */
        display: none;
    }
    
}
    



