.container{
    width: 100%;

}

.border{
    background: linear-gradient(to left, #d51646, #9d0574, #830a58, #bd034b, #bb3b39, #bd393a, #ba044f, #96023c, #51061c);
    height: 1px;
    width: 100%;
    top: 0;
    
    /* position: absolute; */

}

.container{
    background-color: #000;
    text-align: center;
}

.navbarbottomwrapper{
    height: 100%;
}

.navbarbottomlistWraper{
    width: 100%;
    background-color: #000;
    /* height: 40px; */
    /* max-width: 960px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* column-gap: 60px; */

}

.navbarbottomlist{
    /* width: 100%;
    display: flex;
    list-style: none;
    color: #fff;
    justify-content:center;
    align-items: center;
    box-sizing: border-box; */
    display: flex;
    background-color: #000;
    /* height: 60px; */
    gap: 20px;
    justify-content: center;
    
    
}
/* .navbarbottomitem{
    padding: 0 50px;
    width: 100%;
    align-items: center;

    display: flex;
    justify-content: center;
    padding: 0 10px 15px 10px;
    color: #fff;

} */

.navbarbottomlink{
    position: relative;
    color: #fff;
    text-decoration: none;
    /* width: 100%; */
    /* height: 100%; */
    /* font-size: 13px; */
    /* padding: 15px 0; */
    font-size: 13px;    
    max-width: 100%;
    font-weight: 400;
    list-style: none;
    /* height: 50px; */
    
}

.navbarbottomlink::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;
    height: 0.175rem;
    background: #00ff00;

}

.navbarbottomlink::after{
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease-in-out;
}
.navbarbottomlink:hover::after{
    transform: scale(.3,1);
}


@media screen and (max-width: 960px){

    .navbarbottomwrapper{
        background-color: #161617;
        
        display: flex;
        

        /* align-items: center; */
        /* flex-direction: column; */
    }
    .border{
        display: none;
    }
    .navbarbottomlist{
            /* background-color: #161617;

            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center; */

            display: none;
    }

}